<footer class="footer clearfix">
	<div class="contact">
		<p class="details">Contact me, if that's what you want.</p>
	</div>
	<div class="links">
		<ul class="clearfix">
			<li class="details"><a href="/posts/2013.html">Archive</a></li>
			<li class="details"><a href="/rss.rss">RSS</a></li>
			<li class="details"><a href="mailto:allanbowhill@yahoo.com">Contact</a></li>
		</ul>
	</div>
</footer>
