<h1>
<svg xmlns:xlink="http://www.w3.org/1999/xlink 
  width="850" height="200" viewBox="0 0 850 200" 
  preserveAspectRatio="slice">

  <a xlink:href="/" xlink:show="replace">
  <style type="text/css">
     rect:hover {fill:green}
     circle:hover {fill:green}
     text:hover {fill:green}
  </style>
     <rect width="850" height="200" 
        fill="#D6302B" fill-opacity="1.0" 
        stroke="black" stroke-width="1" />
     <circle cx="550" cy="100" r="140" 
        fill="#E85832" fill-opacity="1.0" 
        stroke="black" stroke-width="10" />
     <circle cx="550" cy="100" r="100" 
        fill="#FF7A26" fill-opacity="1.0" 
        stroke="black" stroke-width="3" />
     <circle cx="550" cy="100" r="60" 
        fill="#E8AE63" fill-opacity="1.0" 
        stroke="black" stroke-width="5" />
     <circle cx="550" cy="100" r="30" 
        fill="green" fill-opacity="1.0" 
        stroke="black" stroke-width="10" />
     <text x="0" y="195" font-size="180" text-anchor="left" 
        fill="#FFC33B" stroke="black" 
        stroke-width="3">Syntax FX</text>
  </a>
</svg>
</h1>
  <div id="intro">
     <p class="subTitle details">Tech Blog by Allan Bowhill.</p>
  </div>
